body {
	background-color: rgba(128, 128, 128, 0.05);
	font-family: 'Libre Franklin', sans-serif;
	margin: 0;
    padding: 0;
}

.header-text {
	text-align: center;
}

header, .content {
	width: 100%;
	margin: 0 auto;
}

.container, .content {
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.container {
	padding-top: 15px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.project {
	padding-top: 10px;
	margin: 10px;
	text-align: center;
	width: 100%;
}

.links {
	list-style-type: none;
	width: 100%;
	padding: 0;
	line-height: 1.5;
}

.project > h3 {
	line-height: 0.2;
}

.proj-img {
	border-radius: 5px;
	width: 75%;
}

#logo {
	border-radius: 50%;
	width: 100px;
}

.github-link {
	font-size: smaller;
	font-weight: bold;
}

a:link {
	text-decoration: none;
  	color: rgb(36, 32, 144);
  	min-height: 48px;
}

a:hover {
  	border-bottom: 1px solid;
}

a:visited {
  	color: rgb(36, 32, 144);
}

.about-me {
	margin: auto;
	text-align: center;
	width: 70%;
	background-color: white;
	border-radius: 5px;
}

.about-me>p {
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

@media screen and (min-width: 700px) {
	header {
		margin-top: 40px;
		margin-right: 20px;
		width: calc(20% - 20px);
		height: 100%;
	}
	.header-text {
		margin-left: 20%;
	}
	.content {
		margin-top: 0;
		width: 75%;
	}
	.project {
		width: calc(50% - 20px);
		min-width: 200px;
	}
	.proj-img {
		width: 75%;
		border-radius: 3px;
	}

	.project-row {
		width: 100%;
	}

	.project > p {
		font-size: smaller;
	}
}


